/*                  ----------header start----------                      */
.navbar{
    background-color: black;
    width: 100%;
    height: 60px;
}
.navbar ul{
    overflow: auto;
    margin: 0%;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 5% 4%;
}
nav li a{
    text-decoration: none;
    color: white;
}
nav li a:hover{
    color: red;
}
/*                  ----------header start----------                      */

.img img{
    margin-top: 22px;
    padding-bottom: 10px;
    width: 100%;

}
.call img{
    height: 45px;
    position: absolute;
    margin-top: -1%;
    margin-left: 3%;
}

.call a{
    display: list-item;
    margin-left: 18%;
    margin-top: 1%;
    list-style: none;
    text-decoration: none;
    color: black;
}
.location img{
    float: right;
    height: 46px;
    margin-top: -12%;
    margin-right: 36%;
}
.location1 a{
    text-decoration: none;
    color: black;
    margin-top: -10%;
    margin-right: -48%;
    float: right;
}
h1{
    padding: 0px 26px;
    margin-top: 6%;
    font-size: 4vh;
    font-family: PT Sans Arial Narrow;
}
h3{
    font-size: 3vh;
    color: red;
    margin-top: 0%;
    padding: 0px 28px;
    font-family: Academy Engraved LET;
}
.description ul{
    list-style: none;
}
.description li{
    padding: 12px 0px;
    font-size: 3vh;
}
.location a:hover{
    color: red;
    font-size: 17px;
}
.call a:hover{
    color: red;
    font-size: 17px;
}
