/*                  ----------header start----------                      */
.navbar{
    background-color: black;
    width: 100%;
    height: 60px;
}
.navbar ul{
    overflow: auto;
    margin: 0%;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 5% 4%;
    padding: 4px;
}
nav li a{
    text-decoration: none;
    color: white;
}
nav li a:hover{
    color: red;
}
/*                  ----------header start----------                      */

.img img{
    margin-top: 22px;
    padding-bottom: 10px;
    width: 100%;

}
.call img{
    height: 45px;
    position: absolute;
    margin-top: -3px;
    margin-left: 17px;
}

.call a{
    display: list-item;
    margin-left: 70px;
    margin-top: 5px;
    list-style: none;
    text-decoration: none;
    color: black;
}
.location img{
    position: absolute;
    height: 46px;
    margin-top: -44px;
    margin-left: 208px;
}
.location1 a{
    text-decoration: none;
    color: black;
    position: absolute;
    margin-top: -38px;
    margin-left: 258px;
}
h1{
    padding: 0px 26px;
    margin-top: 6%;
    font-size: 4vh;
    font-family: PT Sans Arial Narrow;
}
h3{
    font-size: 3vh;
    color: red;
    margin-top: 0%;
    padding: 0px 28px;
    font-family: Academy Engraved LET;
}
.description ul{
    list-style: none;
}
.description li{
    padding: 12px 0px;
    font-size: 3vh;
    margin-left: -12px;
}
.location1 a:hover{
    color: red;
    font-size: 17px;
}
.call a:hover{
    color: red;
    font-size: 17px;
}
